.App {
  text-align: center;
  margin: 100px;
}

.setLight {
  display: flex;
  padding: 20px;
  align-items: center;
}

.setDark {
  display: flex;
  padding: 20px;
  background-color: black;
  align-items: center;
}

.setLight button {
  margin: 20px;
}

.setDark button {
  margin: 20px;
}
